In [1]:
# load the libraries
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
# load the dataset
df = pd.read_csv('USzipcode.csv')

# the first 4 rows
df.head(4)

   Zipcode  Latitude  Longitude
0    36003   32.4625   -86.7149
1    36006   32.6596   -86.7178
2    36008   32.5016   -86.5727
3    36051   32.6841   -86.4946

In [3]:
# checking for missing values
df.isnull().sum()

Zipcode      0
Latitude     0
Longitude    0
dtype: int64

In [4]:
# feature selection
# select the zipcode feature
X = df['Zipcode'].values.reshape(-1,1)

In [5]:
# Applying the clustering algorithms to find the top ten cities
# Kmeans algorithm
#  define ten clusters
from sklearn.cluster import KMeans

# instantiate kmeans
mdl1 = KMeans(n_clusters=10, random_state=0)

# fit and make predictions
ypred1 = mdl1.fit_predict(X)

In [7]:
# cluster centers
# we can find the cities corresponding to these cluster centers
mdl1.cluster_centers_

array([[56196.90617284],
       [27464.74501301],
       [94948.30833544],
       [ 6087.38463548],
       [74886.13051108],
       [36741.36835807],
       [16707.21464393],
       [64656.52093501],
       [84308.67192321],
       [47012.3308204 ]])

In [8]:
# DBSCAN algorithm
from sklearn.cluster import DBSCAN

# instantiate a dbscan model
mdl2 = DBSCAN()

# fit and predict
ypred2 = mdl2.fit_predict(X)

In [9]:
#dbscan labels
mdl2.labels_

array([-1, -1, -1, ..., -1, -1, -1], dtype=int64)

In [1]:
# we use the kmeans algorithm to find the top ten cities using only the zip code
# we get the cities by finding the zipcodes close to the predicted zipcode